---
import { Markdown } from 'astro/components';
import { getValue } from 'nanostores';
import { avatarProps } from '../store/avatar.js';
import { getDefaultValues } from '../util.js'
import Page from '../components/Page.jsx';
import Tabs from '../components/Tabs.jsx';
import Playground from '../components/demo/AvatarPlayground.jsx';
import AvatarReact from '../components/demo/AvatarReact.jsx';
import AvatarPreact from '../components/demo/AvatarPreact.jsx';
import AvatarSvelte from '../components/demo/AvatarSvelte.svelte';
import AvatarVue from '../components/vue/Avatar.vue';

const storeProps = getValue(avatarProps);
const propValues = getDefaultValues(storeProps);

let title = 'Avatars';
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stacks - {title}</title>
    <link rel="icon" type="image/svg+xml" href="https://stackoverflow.design/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/@stackoverflow/stacks/dist/css/stacks.min.css">
</head>
<body>
  <Page selectedNavIndex={0} selectedSection={title}>
    <h2 class="fs-display1">{title}</h2>
    <p>Avatars are used to quickly identify users or teams.</p>

    <div class="mb32">
        <Playground:load />
        <h3 class="fs-heading2">Examples</h3>
        <Tabs:load />
        <AvatarReact:load />
        <AvatarPreact:load />
        <AvatarSvelte />
        <div class="d-flex jc-space-between">
            <div class="ps-relative">
                <h3 class="fs-heading1 mt16">Vue*</h3>
                <AvatarVue:visible alt={propValues.alt} size={propValues.size} src={propValues.src}/>
                <p class="fc-black-500 fs-fine mt16">
                    *I'm faking this one.<br/>See <a href="https://github.com/snowpackjs/astro/issues/182">astro issue #182</a>.
                </p>
            </div>
            <div>
                <h3 class="fs-title mt16">Static (image)</h3>
                <AvatarVue:visible alt="demo image" size={64} src="https://picsum.photos/128#vue" />
            </div>
            <div>
            <h3 class="fs-title mt16">Static (letter)</h3>
                <AvatarVue:visible letter="v" size={32} className="bg-red-500" />
            </div>
        </div>
    </div>
    <Markdown>
        ### Example
        ```jsx
        import { Avatar } from '@stackoverflow/stacks-components';

        <Avatar.react src="https://picsum.photos/256" size={128} />
        ```
    </Markdown>
  </Page>
</body>
</html>
